<p class="ql-align-justify">
    <strong>Amit Prajapati</strong> is a 
    <strong>Senior Software Engineer</strong>
     at Infosys Limited, distinguished by numerous 
     <strong>Unit Awards and Client Appreciations</strong>.
      He is an 
      <strong>
        <u>Infosys Certified Angular Professional Developer</u>
    </strong> among other certifications. Amit has a strong track record of training, guiding, and 
    motivating individuals both within and outside the industry, backed by his 
    <strong>extensive coding knowledge</strong> and 
    <strong>exceptional debugging skills</strong>.
</p>
<p class="ql-align-justify">
    Amit’s contributions extend beyond his immediate professional circle; he has been instrumental in 
    educating and inspiring a wide range of individuals across the industry. His profound understanding of 
    coding methodologies and superior debugging abilities underscore his role as a valuable mentor and 
    technical expert.
</p>