$base-primary-black: #000000;
$base-primary-black-eclipse: #393939;
$base-primary-gray-10: #1A1A1A; 
$base-primary-light-gray: #333333; 
$base-primary-very-light-grey: #CCCCCC;
$base-primary-alto-grey: #CECECE;
$base-primary-matterhorn: #4D4D4D;
$base-primary-dim-gray: #666666;
$base-primary-dim-gray-90: #9B9B9B;
$base-primary-slight-gray: #979797;
$base-primary-dark-gray: #999999;
$base-primary-border-gray: #CCCCC0;
$base-primary-gray-70: #B3B3B3;
$base-primary-gray-80: #EEEEEE;
$base-primary-gray-90: #E5E5E5;
$base-primary-gray-97: #F7F7F7;
$base-primary-gray-98: #F8F8F8;
$base-primary-gray-99: #F9F9F9;
$base-primary-light-grey: #D7D7D7;
$base-primary-light-silver: #D8D8D8;
$base-primary-charleston-green: #131212;
$base-primary-chateau-green: #2EA43E;
$base-primary-office-green: #008000;
$base-primary-light-green: #CBE8CF;
$base-primary-fruit-green: #69923A;
$base-primary-winter-green: #CCE8CF;
$base-primary-border-green: #BBCF9C;
$base-primary-light-pale-green: #2ea43e40;
$base-primary-carmine: #96151D;
$base-primary-white: #FFFFFF;
$base-primary-white-smoke: #F4F4F4;
$base-primary-white-anti-flash: #F2F2F2;
$base-primary-westar: #D4CFC3;
$base-primary-alice-blue: #F0F9FD;
$base-primary-pattens-blue: #DFEFF9;
$base-primary-cyan-blue: #0074C9;
$base-primary-light-blue: #BFDCF1;
$base-primary-cyan-blue-link: #0074D0;
$base-primary-cyan-blue-link2: #007409;
$base-primary-curious-blue: #1997D4;
$base-primary-congress-blue: #005392;
$base-primary-sail: #B2E0F4;
$base-primary-Cerulean: #0098DB;
$base-primary-Malibu: #58b5ff;
$base-primary-slate-blue: #44697D;
$base-primary-Anakiwa: #a7d8ff;
$base-primary-Baby-blue: #89CFF0;	
$base-primary-Celeste: #B2FFFF;	
$base-primary-Columbia-blue: _#B9D9EB;
$base-primary-Polar: #e6f9ff;	
$base-primary-Onahau: #ccf2ff;	
$base-primary-twilight-blue: #F6F8F1;
$base-primary-dark-blue: #0065AD;
$base-primary-fuel-yellow: #EEAB20;
$base-primary-tahiti-gold:#E37222;
$base-primary-vivid-voilet:#80379B;
$base-primary-red: #e41818e1;
$base-primary-dark-red: #A60016;
$base-primary-alert-red: #E00000;
$base-primary-alert-yellow: #EFAB1F;
$base-primary-deep-Cerulean: #003069;
$base-primary-light-Cerulean: #006778;
$base-primary-orange: #F51914;